<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Summary</h1>

    <% for (let order of orders)  {%>
        <div>
            <p>Name: <%= order.firstName + " " + order.lastName %></p>
            <p>Email: <%= order.email %></p>
            <p>Method: <%= order.method %></p>
            <p>Toppings <%= order.toppings %></p>
            <p>Size: <%= order.size %></p>
            <p>Timestamp: <%= order.timestamp %></p>
            <hr>
        </div>
    <% } %>
</body>
</html>